# Task-1

### Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [1]:
import pandas as pd
import numpy as np

np.random.seed(0)

data = np.random.randn(4, 4)

df = pd.DataFrame(data, columns=['c1', 'c2', 'c3', 'c4'])

print(df)

         c1        c2        c3        c4
0  1.764052  0.400157  0.978738  2.240893
1  1.867558 -0.977278  0.950088 -0.151357
2 -0.103219  0.410599  0.144044  1.454274
3  0.761038  0.121675  0.443863  0.333674

# Task-2

### Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [2]:
df.rename(columns={'c1': 'Random value 1', 'c2': 'Random value 2', 'c3': 'Random value 3', 'c4': 'Random value 4'}, inplace=True)
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        1.764052        0.400157        0.978738        2.240893
1        1.867558       -0.977278        0.950088       -0.151357
2       -0.103219        0.410599        0.144044        1.454274
3        0.761038        0.121675        0.443863        0.333674

# Task-3

### Find the descriptive statistics of the 'df' dataframe.

In [3]:
df_statistics = df.describe()
print(df_statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         1.072357       -0.011212        0.629183        0.969371
std          0.929101        0.657797        0.406150        1.081980
min         -0.103219       -0.977278        0.144044       -0.151357
25%          0.544974       -0.153063        0.368908        0.212416
50%          1.262545        0.260916        0.696976        0.893974
75%          1.789929        0.402768        0.957251        1.650928
max          1.867558        0.410599        0.978738        2.240893

# Task-4

### Check for the null values in 'df' and find the data type of the columns.

In [4]:

null_values = df.isnull().sum()
data_types = df.dtypes
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

# Task-5

### Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [5]:
# With Location Method using loc
df_loc_c = df.loc[:, ['Random value 2', 'Random value 3']]
print(df_loc_c)

   Random value 2  Random value 3
0        0.400157        0.978738
1       -0.977278        0.950088
2        0.410599        0.144044
3        0.121675        0.443863

In [6]:
# With Index Method using iloc
df_index_c= df.iloc[:, [1, 2]]
print(df_index_c)

   Random value 2  Random value 3
0        0.400157        0.978738
1       -0.977278        0.950088
2        0.410599        0.144044
3        0.121675        0.443863